<div class="nested-fields">
  <div class="field">
    <%= f.label :sequence_number %>
    <%= f.hidden_field :sequence_number %>
    <%= f.text_area :body %>
    <%= link_to_remove_association "この手順を削除", f %>
  </div>
</div>