<div class="text-center">
  <h1 class="m-3 p-3 border">かんたんSNSとは</h1>
  <div class="m-3 p-3 border">
    <h3>かんたんSNSはどんな方でも気軽に始められることを目標にしたSNSです。</h3>
    <h3>日常の些細なできごとだけでなく、</br>
      生活の知恵、昔遊んでいた遊び、得意な料理をいろんな世代と共有しませんか。</h3>
    <h3 style="background-color:#c6c6ff;">特徴1.難しい機能は無し！</h3>
    <h3>SNS初心者の方でも簡単に始められます。</h3>
    <h3 style="background-color:#ffc6c6;">特徴2.カテゴリは4種類！</h3>
    <h3>何を投稿するか悩む心配もありません。</h3>
    <h3 style="background-color:#c6ffc6;">特徴3.投稿に手順を追加！</h3>
    <h3>手順を追加してルールや調理工程も共有できます。</h3>
    <h2 class="mt-5">たくさんの人に知ってもらいたいことは</br>
      どんどん投稿していきましょう。</h3>
  </div>
</div>