<h1 class="text-primary">かんたんSNSへようこそ！</h1>

<%= link_to "投稿一覧" , "/posts" %>
<%= link_to "ユーザー一覧" , "/users" %>
<%= link_to "ログイン", new_user_session_path %>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
