<h1>検索結果</h1>

<!--検索対象モデルがUserの時 -->
<% if @range == "ユーザー" %>
  <%= render "public/users/list", users: @users %>
<% else %>
<!--検索対象モデルがUserではない時(= 検索対象モデルがPostの時) -->
  <%= render "public/posts/list", posts: @posts %>
<% end %>
